In [90]:
import numpy as np
import pandas as pd

In [91]:
movies = pd.read_csv('netflix_titles.csv')

In [92]:
movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [93]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [94]:
movies = movies[['show_id','type','cast','title','country','description','listed_in']]

In [95]:
movies.head()

,show_id,type,cast,title,country,description,listed_in
0,s1,Movie,NaN,Dick Johnson Is Dead,United States,"As her father nears the end of his life, filmm...",Documentaries
1,s2,TV Show,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",Blood & Water,South Africa,"After crossing paths at a party, a Cape Town t...","International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Ganglands,NaN,To protect his family from a powerful drug lor...,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,NaN,Jailbirds New Orleans,NaN,"Feuds, flirtations and toilet talk go down amo...","Docuseries, Reality TV"
4,s5,TV Show,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",Kota Factory,India,In a city of coaching centers known to train I...,"International TV Shows, Romantic TV Shows, TV ..."

In [96]:
movies.isnull().sum()

show_id          0
type             0
cast           825
title            0
country        831
description      0
listed_in        0
dtype: int64

In [97]:
movies.dropna(inplace = True)

In [98]:
movies.duplicated().sum()

0

In [99]:
movies.head()

,show_id,type,cast,title,country,description,listed_in
1,s2,TV Show,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",Blood & Water,South Africa,"After crossing paths at a party, a Cape Town t...","International TV Shows, TV Dramas, TV Mysteries"
4,s5,TV Show,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",Kota Factory,India,In a city of coaching centers known to train I...,"International TV Shows, Romantic TV Shows, TV ..."
7,s8,Movie,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Sankofa,"United States, Ghana, Burkina Faso, United Kin...","On a photo shoot in Ghana, an American model s...","Dramas, Independent Movies, International Movies"
8,s9,TV Show,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",The Great British Baking Show,United Kingdom,A talented batch of amateur bakers face off in...,"British TV Shows, Reality TV"
9,s10,Movie,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",The Starling,United States,A woman adjusting to life after a loss contend...,"Comedies, Dramas"

In [100]:
movies = movies.reset_index(drop = True)

In [101]:
movies.head()

,show_id,type,cast,title,country,description,listed_in
0,s2,TV Show,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",Blood & Water,South Africa,"After crossing paths at a party, a Cape Town t...","International TV Shows, TV Dramas, TV Mysteries"
1,s5,TV Show,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",Kota Factory,India,In a city of coaching centers known to train I...,"International TV Shows, Romantic TV Shows, TV ..."
2,s8,Movie,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Sankofa,"United States, Ghana, Burkina Faso, United Kin...","On a photo shoot in Ghana, an American model s...","Dramas, Independent Movies, International Movies"
3,s9,TV Show,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",The Great British Baking Show,United Kingdom,A talented batch of amateur bakers face off in...,"British TV Shows, Reality TV"
4,s10,Movie,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",The Starling,United States,A woman adjusting to life after a loss contend...,"Comedies, Dramas"

In [102]:
# movies['cast'] = movies['cast'].apply(lambda x:x.split())

In [103]:
# movies['description'] = movies['description'].apply(lambda x:x.split())

In [104]:
# movies['listed_in'] = movies['listed_in'].apply(lambda x:x.split())

In [105]:
# movies['type'] = movies['type'].apply(lambda x:x.split())

In [106]:
# movies['title'] = movies['title'].apply(lambda x:x.split())

In [107]:
# movies['country'] = movies['country'].apply(lambda x:x.split())

In [108]:
movies.head()

,show_id,type,cast,title,country,description,listed_in
0,s2,TV Show,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",Blood & Water,South Africa,"After crossing paths at a party, a Cape Town t...","International TV Shows, TV Dramas, TV Mysteries"
1,s5,TV Show,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",Kota Factory,India,In a city of coaching centers known to train I...,"International TV Shows, Romantic TV Shows, TV ..."
2,s8,Movie,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Sankofa,"United States, Ghana, Burkina Faso, United Kin...","On a photo shoot in Ghana, an American model s...","Dramas, Independent Movies, International Movies"
3,s9,TV Show,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",The Great British Baking Show,United Kingdom,A talented batch of amateur bakers face off in...,"British TV Shows, Reality TV"
4,s10,Movie,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",The Starling,United States,A woman adjusting to life after a loss contend...,"Comedies, Dramas"

In [109]:
# movies['country'].apply(lambda x:[i.replace(",","") for i in x])

In [110]:
movies['tags'] = movies['cast']+movies['country']+movies['description']+movies['type']+movies['listed_in']

In [111]:
movies.head()

,show_id,type,cast,title,country,description,listed_in,tags
0,s2,TV Show,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",Blood & Water,South Africa,"After crossing paths at a party, a Cape Town t...","International TV Shows, TV Dramas, TV Mysteries","Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban..."
1,s5,TV Show,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",Kota Factory,India,In a city of coaching centers known to train I...,"International TV Shows, Romantic TV Shows, TV ...","Mayur More, Jitendra Kumar, Ranjan Raj, Alam K..."
2,s8,Movie,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",Sankofa,"United States, Ghana, Burkina Faso, United Kin...","On a photo shoot in Ghana, an American model s...","Dramas, Independent Movies, International Movies","Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D..."
3,s9,TV Show,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",The Great British Baking Show,United Kingdom,A talented batch of amateur bakers face off in...,"British TV Shows, Reality TV","Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho..."
4,s10,Movie,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",The Starling,United States,A woman adjusting to life after a loss contend...,"Comedies, Dramas","Melissa McCarthy, Chris O'Dowd, Kevin Kline, T..."

In [112]:
new_df = movies[['show_id','title','tags']]

In [113]:
new_df

,show_id,title,tags
0,s2,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban..."
1,s5,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K..."
2,s8,Sankofa,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D..."
3,s9,The Great British Baking Show,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho..."
4,s10,The Starling,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T..."
...,...,...,...
7300,s8802,Zinzana,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ..."
7301,s8803,Zodiac,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J..."
7302,s8805,Zombieland,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ..."
7303,s8806,Zoom,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma..."
7304,s8807,Zubaan,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan..."

In [114]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\dell\AppData\Local\Temp\ipykernel_28480\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [115]:
new_df['tags'][0]

'ama qamata, khosi ngema, gail mabalane, thabang molaba, dillon windvogel, natasha thahane, arno greeff, xolile tshabalala, getmore sithole, cindy mahlangu, ryle de morny, greteli fincham, sello maake ka-ncube, odwa gwanya, mekaila mathys, sandi schultz, duane williams, shamilla miller, patrick mofokengsouth africaafter crossing paths at a party, a cape town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.tv showinternational tv shows, tv dramas, tv mysteries'

In [116]:
import nltk

In [117]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [118]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [119]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\dell\AppData\Local\Temp\ipykernel_28480\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [120]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 , stop_words = 'english')

In [121]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [122]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [123]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'álvarez', 'álvaro', 'ángel'],
      dtype=object)

In [124]:
from sklearn.metrics.pairwise import cosine_similarity

In [125]:
similarity = cosine_similarity(vectors)

In [137]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True , key = lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].show_id)

In [138]:
recommend('Zombieland')

s7957
s7264
s1238
s4749
s7211

In [128]:
import pickle

In [129]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [130]:
pickle.dump(similarity,open('similarity.pkl','wb'))